<!-- Top Bar -->
  <section class="container p-6 mx-auto my-8 bg-secondary">
    <div class="flex relative justify-between rounded">
      <a routerLink="/upload" class="px-10 py-4 text-xl text-white bg-indigo-400">Upload Videos</a>

      <!-- Sort Videos -->
      <select (change)="sortVideos($event)" [value]="videoOrder()" class="px-8 text-xl text-black appearance-none outline-none">
        <option value="1">Recent Uploads</option>
        <option value="2">Oldest Uploads</option>
      </select>
    </div>
  </section>

  <!-- User's Video Section -->
  <div class="container mx-auto my-8">
    <!-- Video List -->
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
      @for(clip of orderedClips(); track clip.id) {
      <div class="flex flex-col justify-start mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary">
        <a href="#">
          <img class="w-full rounded-tl-2xl card-img-top" [src]="clip.screenshotUrl" crossorigin alt="">
        </a>

        <!-- Body -->
        <div class="p-6 text-2xl">

          <!-- Link -->
          <a [routerLink]="['/', 'clip', clip.id]" class="mb-2 font-bold">
            {{ clip.title }}
          </a>
          <a (click)="copyToClipboard($event, clip.id)" class="px-2 py-1 ml-2 text-sm text-white bg-gray-400 rounded">
            Copy Link
          </a>

        </div>

        <!-- Actions -->
        <div class="flex p-2 mt-auto text-2xl text-center bg-gray-800">
          <a href="#"  (click)="openModal($event, clip)" class="flex-1 p-2 border-r-2 border-gray-700 transition border-right hover:text-indigo-400">
            <span class="text-base material-icons">build</span>
          </a>
          <a href="#" (click)="deleteClip($event, clip)" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
            <span class="text-base material-icons">delete</span>
          </a>
        </div>

      </div>
    }
    </div>
  </div>

  <!-- Edit Modal -->
  <app-edit [activeClip]="activeClip()" (update)="updateClip($event)"></app-edit>