<section class="container p-6 mx-auto my-8 bg-secondary">
  <div class="flex relative flex-col rounded">
    <div class="mb-6 font-bold">Upload Video</div>
    @if (!nextStep()) {
    <div
      appEventBlocker
      (dragend)="isDragOver.set(false)"
      (dragover)="isDragOver.set(true)"
      (dragenter)="isDragOver.set(true)"
      (dragleave)="isDragOver.set(false)"
      (mouseleave)="isDragOver.set(false)"
      (drop)="storeFile($event)"
      [ngClass]="{
        'bg-indigo-400 border-indigo-400 border-solid': isDragOver(),
      }"
      class="px-10 py-40 w-full text-xl text-center rounded border border-gray-400 border-dashed transition duration-500 cursor-pointer hover:text-white hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid"
    >
      <h5>Drop your file here (mp4 only!)</h5>
    </div>
    } @else { @if (showAlert()) {
    <app-alert [color]="alertColor()">
      <p>{{ alertMessage() }}</p>
      @if (showPercentage()) {
      <p>{{ percentage() | percent }}</p>
      }
    </app-alert>
    }

    <form [formGroup]="form" (ngSubmit)="uploadFile()">
      <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3"></div>

      <div class="mt-4">
        <label class="block mb-4 text-xl">Title</label>
        <app-input
          [control]="form.controls.title"
          placeholder="Enter Title"
        ></app-input>
      </div>

      <div class="mt-4 text-right">
        <button
          type="submit"
          [disabled]="inSubmission() || form.invalid"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': inSubmission(),
            'hover:bg-indigo-700': !inSubmission(),
          }"
          class="inline-flex justify-center px-4 py-2 text-white rounded-md border border-transparent shadow-sm focus:outline-none"
        >
          Publish
        </button>
      </div>
    </form>
    }
  </div>
</section>
